*.swp
*.pyc
.coverage
*.prof
*.vtu
*~
doc/sphinx/build
examples/large-experiments
examples/small-experiments
build/
srlife.egg-info/
dist/
*.dat
srlife/damage_CARES.py
examples/CARES-manual/test_ceramic_damage_CARES.py
